apiVersion: v1
kind: Service
metadata:
  name: employee-service
spec:
  type: NodePort
  selector:
    app: employee-service
  ports:
    - port: 8080        # inside cluster
      targetPort: 8080  # container port
      nodePort: 30080   # host port
